node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
types
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# deployment files for hardhat-deploy on localhost
/deployments/localhost

# echidna json exports
/crytic-export